<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from craftohtml.themezaa.com/maintenance.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Apr 2024 09:27:24 GMT -->
<head>
<title>Packsafe | Saefty Cutters</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="ThemeZaa">
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta name="description" content="Elevate your online presence with Crafto - a modern, versatile, multipurpose Bootstrap 5 responsive HTML5, SCSS template using highly creative 48+ ready demos.">

<link rel="shortcut icon" href="/assets/images/favicon.png">
<link rel="apple-touch-icon" href="/assets/images/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png">

<link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

<link rel="stylesheet" href="/assets/css/vendors.min.css" />
<link rel="stylesheet" href="/assets/css/icon.min.css" />
<link rel="stylesheet" href="/assets/css/style.min.css" />
<link rel="stylesheet" href="/assets/css/responsive.min.css" />
</head>
<body>
<section class="cover-background full-screen ps-8 pe-8 sm-ps-6 sm-pe-6 overflow-auto" style="background-image: url(/assets/images/maintenance-bg.jpg);">
<div class="container-fluid h-100">
<div class="row align-items-center justify-content-center h-100">
<div class="col-lg-6 col-xl-5 text-center text-lg-start md-mb-30px" data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
<a href="index-2.html" class="mb-12 md-mb-50px d-inline-block">
<img src="/assets/images/logo-white-demo.png" data-at2x="images/logo-white-demo@2x.png" alt>
</a>
<h2 class="text-white fw-600 mb-20px ls-minus-1px">Error 404!</h2>
<p class="text-white opacity-8 w-75 xl-w-100 mb-30px">The page you're looking for is not present</p>
<div class="d-inline-block w-100 position-relative mb-7">
<form class="position-relative w-70 xl-w-100">
  <a href="/" class="btn btn-large input-large bg-white text-dark-gray  text-transform-none  box-shadow-extra-large border-radius-5px  fw-700" aria-label="submit"><span>Back to home</span></a>

<div class="form-results border-radius-100px mt-15px p-15px fs-15 w-100 text-center d-none"></div>
</form>
</div>
<div class="elements-social social-icon-style-08">
<ul class="small-icon light">
<li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
<li><a class="dribbble" href="http://www.dribbble.com/" target="_blank"><i class="fa-brands fa-dribbble"></i></a></li>
<li><a class="linkedin" href="http://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
<li><a class="instagram" href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
</ul>
</div>
</div>
<div class="col-md-8 col-lg-6 col-xl-7 text-center" data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [0, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 150, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
<img src="/assets/images/maintenance-img.png" class="animation-float" alt>
</div>
</div>
</div>
</section>

<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/vendors.min.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>
</body>

<!-- Mirrored from craftohtml.themezaa.com/maintenance.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Apr 2024 09:27:25 GMT -->
</html>