<%- include('partials/head') %>

  <body data-mobile-nav-style="classic">
    <header class="header-with-topbar">
      <div
        class="header-top-bar top-bar-light bg-white disable-fixed border-bottom border-color-transparent-dark-very-light"
      >
        <div class="container-fluid">
          <div class="row h-45px align-items-center m-0">
            <div class="col-lg-7 col-md-8 text-center text-md-start">
              <div class="fs-13 text-dark-gray alt-font fw-600">
                Free Delivery on orders over £120. Don't miss discount.
                <a
                  href="demo-decor-store-shop.html"
                  class="text-dark-gray fw-700 text-decoration-line-bottom"
                  >Shop now</a
                >
              </div>
            </div>
            <div class="col-lg-5 col-md-4 text-end d-none d-md-flex">
              <a
                href="demo-decor-store-contact.html"
                class="widget fs-13 text-dark-gray fw-600 me-25px md-me-15px text-dark-gray"
                ><i class="feather icon-feather-phone-call"></i>Customer
                service</a
              >
              <a
                href="demo-decor-store-contact.html"
                class="widget fs-13 text-dark-gray alt-font me-25px fw-600 d-none d-lg-inline-block"
                ><i class="feather icon-feather-map-pin"></i>Find our store</a
              >
              <div class="header-language-icon widget fs-13 alt-font fw-600">
                <div class="header-language dropdown">
                  <a href="javascript:void(0);" class="text-dark-gray"
                    ><i class="feather icon-feather-globe"></i>English</a
                  >
                  <ul class="language-dropdown alt-font">
                    <li>
                      <a href="javascript:void(0);" title="English"
                        ><span class="icon-country"
                          ><img
                            src="/assets/images/country-flag-16X16/usa.png"
                            alt
                            data-no-retina /></span
                        >English</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      >

      <nav
        class="navbar navbar-expand-lg header-light bg-transparent disable-fixed"
        data-header-hover="light"
      >
        <div class="container-fluid">
          <div class="col-auto">
            <a class="navbar-brand" href="demo-decor-store.html">
              <img
                src="/qwerty/logo.png"
                data-at2x="images/demo-decor-store-logo-black@2x.png"
                alt
                class="default-logo"
              />
              <img
                src="/qwerty/logo.png"
                data-at2x="images/demo-decor-store-logo-black@2x.png"
                alt
                class="alt-logo"
              />
              <img
                src="/qwerty/logo.png"
                data-at2x="images/demo-decor-store-logo-black@2x.png"
                alt
                class="mobile-logo"
              />
            </a>
          </div>
          <div class="col-auto menu-order position-static xs-ps-0">
            <button
              class="navbar-toggler float-start"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-line"></span>
              <span class="navbar-toggler-line"></span>
              <span class="navbar-toggler-line"></span>
              <span class="navbar-toggler-line"></span>
            </button>
            <div
              class="collapse navbar-collapse justify-content-center"
              id="navbarNav"
            >
              <ul class="navbar-nav alt-font">
                <li class="nav-item">
                  <a href="/" class="nav-link">Home</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-auto ms-auto">
            <div class="header-icon">
              <div class="header-search-icon icon">
                <a
                  href="javascript:void(0)"
                  class="search-form-icon header-search-form"
                  ><i class="feather icon-feather-search"></i
                ></a>
                <div class="search-form-wrapper">
                  <button
                    title="Close"
                    type="button"
                    class="search-close alt-font"
                  >
                    ×
                  </button>
                  <form
                    id="search-form"
                    role="search"
                    class="search-form bg-white"
                  >
                    <div class="search-form-box">
                      <h2
                        class="text-dark-gray text-center mb-7 alt-font fw-700 ls-minus-1px"
                      >
                        What are you looking for?
                      </h2>
                      <input
                        class="search-input alt-font"
                        id="search-form-input5e219ef164995"
                        placeholder="Enter your keywords..."
                        name="s"
                        value
                        type="text"
                        autocomplete="off"
                      />
                      <button type="submit" class="search-button">
                        <i
                          class="feather icon-feather-search"
                          aria-hidden="true"
                        ></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- 
    <section
      class="page-title-center-alignment cover-background top-space-padding"
      style="background-image: url(images/demo-decor-store-title-bg.jpg)"
    >
      <div class="container">
        <div class="row">
          <div
            class="col-12 text-center position-relative page-title-extra-large"
          >
            <h1
              class="alt-font d-inline-block fw-700 ls-minus-05px text-base-color mb-10px mt-3 md-mt-50px"
            >
              My account
            </h1>
          </div>
          <div
            class="col-12 breadcrumb breadcrumb-style-01 d-flex justify-content-center"
          >
            <ul>
              <li><a href="demo-decor-store.html">Home</a></li>
              <li>My account</li>
            </ul>
          </div>
        </div>
      </div>
    </section> -->

    <section>
      <div class="container">
        <div class="row g-0 justify-content-center">
          <div
            class="col-lg-10 col-md-10 p-3 box-shadow-extra-large border-radius-6px"
            data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay":150, "staggervalue": 150, "easing": "easeOutQuad" }'
          >
            <label class="text-dark-gray mb-10px fw-500">
              <span id="message-res" class="text-red"></span
            ></label>
            <span
              class="fs-26 xs-fs-24 alt-font fw-600 text-dark-gray mb-20px d-block"
              >Create an account</span
            >
            <form id="register-form">
              <label class="text-dark-gray mb-10px fw-500"
                >Name<span class="text-red">*</span></label
              >
              <input
                class="mb-20px bg-very-light-gray form-control required"
                type="text"
                name="name"
                placeholder="Enter your username"
              />
              <label class="text-dark-gray mb-10px fw-500"
                >Email address<span class="text-red">*</span></label
              >
              <input
                class="mb-20px bg-very-light-gray form-control required"
                type="email"
                name="email"
                placeholder="Enter your email"
              />
              <label class="text-dark-gray mb-10px fw-500"
                >Phone Number<span class="text-red">*</span></label
              >
              <input
                class="mb-20px bg-very-light-gray form-control required"
                type="text"
                name="phone_no"
                placeholder="Enter your phone number"
              />
              <label class="text-dark-gray mb-10px fw-500"
                >Profession <span class="text-red">*</span></label
              >
              <select
                name="profession"
                id="profession"
                class="form-select select-small"
              >
                <option value>Select a Profession</option>
                <option value="1">Buisness</option>
                <option value="2">home</option>
              </select>

              <label class="text-dark-gray mb-10px fw-500"
                >Password<span class="text-red">*</span></label
              >
              <input
                class="mb-20px bg-very-light-gray form-control required"
                type="password"
                name="password"
                placeholder="Enter your password"
              />
              <span
                class="fs-13 lh-22 w-90 lg-w-100 md-w-90 sm-w-100 d-block mb-30px"
                >Already a user?
                <a
                  href="/login"
                  class="text-Wasabi text-decoration-line-bottom fw-500"
                  >sign in</a
                ></span
              >
              <button
                id="register-btn"
                class="btn btn-medium btn-round-edge btn-base-color btn-box-shadow submit w-100 text-transform-none"
                type="submit"
              >
                Register
              </button>
              <div class="form-results mt-20px d-none"></div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <%- include('partials/footer') %>
  </body>
</html>
